
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';


@import '~leaflet-geosearch/dist/geosearch.css';
@import "~leaflet/dist/leaflet.css";

//color for ilustrations 1D89A0
//main css
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}


.background-color-org {
    //background-color: #27cfc9;
    //background-color: #23b0ab;
    background-color: #26bfba;
}

.background-color-gradient-blue {
    background: rgb(38,191,186);
    background: linear-gradient(0deg, rgba(38,191,186,1) 0%, rgba(19,97,95,1) 45%, rgba(0,0,0,1) 100%);
}

.text-white-org {
    color: whitesmoke;
    //text-shadow: 1px 1px #000000;
}
.btn-blue-org {
    color: rgb(0,0,0,0.8);
    background-color: rgba(38,191,186,1);
    font-weight: bolder;

}

.btn-blue-org:hover {
    color: whitesmoke;
    background-color: #0f6674;
}

.btn-outline-blue-org{
    color: ghostwhite;
    background-color: transparent;
    font-weight: lighter;
}
.btn-outline-blue-org:active,
.btn-outline-blue-org:focus,
.btn-outline-blue-org:hover {
    color: whitesmoke;
    background-color: #0f6674;
}

.btn-outline-bluedark-org{
    color: #0f6674;
    background-color: white;
    border: #0f6674;
    font-weight: lighter;
}
.btn-outline-bluedark-org:active,
.btn-outline-bluedark-org:focus,
.btn-outline-bluedark-org:hover {
    color: whitesmoke;
    background-color: #0f6674;
}

.btn-outline-bluelight-org{
    color: whitesmoke;
    background-color: #0f6674;
    border: #0f6674;
    font-weight: lighter;
}
.btn-outline-bluelight-org:active,
.btn-outline-bluelight-org:focus,
.btn-outline-bluelight-org:hover {
    color: whitesmoke;
    background-color: darkslategrey;
}
.bg-black {
    background-color: rgb(0,0,0) !important;
}
.grey-box-card {
    background-color: rgb(0,0,0,0.5);
}

.zoom:hover{
    transform: scale(1.1);
    transition: all ease 400ms;
}

.light-groove-border {
    border-left: 1px groove gainsboro;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    color: whitesmoke;
    background-color: #0f6674;
}

////////////navbar

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

black {
    background: #000;
}


///animation

////////////////////
//SIDEBAR CSS

///////////
#mapid { height: 900px; ;
}


//////___for uploading images/file
.inputfileevent {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 6px;
    left: 0;
    font-size: 15px;

}
.inputfileevent:focus + label {
    outline: 2px solid;
}
.image_button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: cadetblue;
    font-size: 16px;
    color: #f1e5e6;
}
.image_button:focus
.image_button:hover {
    background-color: #f76c45;
}

.file-upload-filename {
    background-color: #ffffff;
    color: #FF8663;
}

///
.item {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s, height 0.3s 0.1s;
}

.active .item {
    opacity: 1;
    height: 30px;
    transition: opacity 0.3s 0.1s, height 0.3s;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .cardscroll {
        display: inline-block;
    }
}
